<div id="home"></div>
{{> ideas/header}}

<div id="idea" class="card border-dark mb-3 col-12" style="margin-top:30px">
    
    <div class="card-body text-dark">
        <h2 class="idea-title">A Really Cool Idea</h2>
        <h6 class="idea-category" style="margin-bottom:30px">Incredibly Specific Category</h6>
        <p class="idea-description">Bacon ipsum dolor amet shankle short ribs turducken, hamburger pork loin tri-tip pancetta sirloin short loin alcatra
        frankfurter kevin strip steak sausage tongue. Ribeye rump pork loin pork kielbasa. Buffalo biltong salami tongue doner.
        Prosciutto leberkas tenderloin shoulder short ribs corned beef beef chuck sausage tongue. Drumstick pastrami beef, bacon
        prosciutto boudin strip steak tenderloin rump alcatra frankfurter short ribs filet mignon shankle t-bone. Biltong
        kielbasa t-bone andouille.</p>
    </div>
    </div>

    <div class="form-group">
        <label for="comment-form">New Comment</label>
        <select id="idea-rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <textarea class="form-control" id="comment-form" rows="5"></textarea>
        <button class="btn btn-primary" for="comment-form" style="margin-top:15px">Submit</button>
    </div>

    <div class="comment-section">
    <ul>
        <li>Comment here</li>
        <li>Another comment here</li>
    </ul>

    </div>
</div>

<script src="jquery.barrating.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#idea-rating').barrating({
            theme: 'fontawesome-stars'
        });
    });
</script>