<div id="home">
    <div id="home-link"></div>
    <a href="/">Back to Home</a>
    <div id="idea" class="card border-dark mb-3 col-12" style="margin-top:30px">

        <div class="card-body text-dark">

            <h2 data-id="{{projects.id}}" class="idea-title">{{projects.name}}</h2>
            <p class="idea-description">{{projects.description}}</p>
        </div>
    </div>

    <form class="form-group" id="new-comment-form">
        <input type="email" id="comment-email" placeholder="Email Address" class="form-row"></input><br>
        <textarea class="form-control form-row" id="comment-form" rows="5" style="width: 500px"></textarea><br>
                <!-- still needs to be handled on submit -->
        <div id="comment-rating" style="margin-top: 10px"></div>
        <button id="submit" class="btn btn-primary" for="comment-form" style="margin-top:15px">Submit</button>
    </form>

    <label for="comment-form">
        <h3><u>Comments</u></h3>
    </label>
    <div class="comment-section">

    </div>
</div>
<script src="/js/comment.js"></script>

