        <div class="idea-card" style="width: 18rem;">
            <div class="idea-card-body">
                <h5 class="idea-card-title">New Idea #1</h5>
                <h6 class="idea-card-subtitle mb-2 text-muted">Idea Category</h6>
                <p class="idea-card-text">An idea about ideas regarding making new ideas.</p>
            </div>
        </div>