        <div class="idea-card" style="width: 18rem;" data-id="{{this.id}}">
            <div class="idea-card-body">
                <h5 id="idea-card-title"><a href="project/{{this.id}}">{{this.name}}</a></h5>
                <p id="idea-card-text">{{this.description}}</p>
            </div>
        </div>